*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

h2{
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: black;
}
h1{
    font-size: 5rem;
    font-weight: normal;    
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.btn{
    background:transparent;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.2s linear;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.positivo{
    color: green;
}
.negativo{
    color: red;
}
.nulo{
    color:black;
}